#intro {
    width: 800px;
    margin: auto;
    margin-top: 150px;
}

#intro h1 {
    font-size: 40px;
    color: #e6f4f1;
    font-weight: bolder;
}

#intro p {
    padding-right: 400px;
}

#intro img {
    position: absolute;
    width: 400px;
    margin-left: 425px;
    margin-top: 50px;
    z-index: -1;
}

@media (max-width: 991px) {

    #intro {
        width: 90%;
        margin-top: 0;
    }

    #intro h1 {
        font-size: 24px;
    }

    #intro p {
        padding-right: 0;
        font-size: 14px;
    }

    #intro img {
        width: 300px;
        position: relative;
        display: flex;
        margin: auto;
    }
}