/* #background {
  background: linear-gradient(-90deg, black 50%, #111 50%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -5;
} */

#intro {
  left: -10vw;
  margin: 0;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  color: white;
  background: linear-gradient(-90deg, #111 50%, rgba(58, 58, 58, 1) 50%);
  z-index: 0;
  font-size: 0;
}

#intro img {
  display: block;
  font-size: 0;

}

#midContent {
  top: calc(5px + 2vh);
  margin: 0;
  padding-top:10px;
  height: max-content;
  margin: 0;
  position: relative;
  text-align: center;
  color: white;
  background: none;
  z-index: 0;
}

#midContent p {
  font-size: 16px;
}

/* #midContent h1 {
  
}

#midContent h2 {
  
} */

#projectBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.projectElement {
  flex-direction: column;
  height: 500px;
  width: 300px;
  background-color: rgba(58, 58, 58, 1);
  margin: 5px;
}

.projectElement p {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.projectElement img {
  width: 90%;
}

#introBox1 {
  position: absolute;
  top: 13vw;
  left: 18vw;
}

#introBox2 {
  position: absolute;
  top: 12vw;
  right: 4vw;
  width: 33%;
  text-align: left;
}

#introText h1 {
  font-size: calc(2px + 4vw);
  color: #111;
  font-weight: bolder;
}

#introBox2 h2 {
  text-align: justify;
  font-size: calc(2px + 1.2vw);
  color: white;
  font-weight: bolder;
}

#introBox2 p {
  text-align: justify;
  font-size: calc(2px + .95vw);
  color: white;
  font-weight: lighter;
}

#introBox2 a {
  color: rgba(234, 128, 154, 1);
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

#introBox2 a:hover {
  color: rgba(236, 184, 136, 1);
}

#introBox2 .button {
  background-color: rgba(234, 128, 154, 1);
  border: none;
  color: rgba(58, 58, 58, 1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto 0;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

#introBox2 .button:hover {
  background-color: rgba(236, 184, 136, 1);
}

#portrait {
  top:0;
  display: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 100%;
  z-index: -1;
}


.imageGrid {
  width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.imageGrid h1 {
  color: white;

}

.row {
  display: flex;
}

.column {
  font-size: 0;
}

.column img {
  width: 95%;
  padding: 2.5%;
}

.imageGrid h1 {
  text-align: center;
}


@media (max-width: 1000px) {
  #midContent {
    top: calc(25px + 2vh);
  }
  
  #introBox1 {
    position: absolute;
    top: 5.5rem;
    left: 12vw;
  }

  #introBox2 {
    margin: auto;
    position: relative;
    top: 20px;
    right: 0;
    width: calc(20vh + 52vw);
    margin: auto;
    text-align: left;
  }

  #introText h1 {
  font-size: calc(12px + 1.5vw);
  color: #111;
  font-weight: bolder;
}

#introBox2 h2 {
  text-align: justify;
  font-size: calc(10px + 1.2vw);
  color: white;
  font-weight: bolder;
}

#introBox2 p {
  text-align: justify;
  font-size: calc(10px + .95vw);
  color: white;
  font-weight: lighter;
}

  #intro img {
    width: 270px;
    position: relative;
    display: flex;
    margin: auto;
  }

  .imageGrid {
    text-align: center;
    margin-top: 50px;
    width: 90%;
    margin-bottom: 20px;
  }

  .imageGrid h1 {
    font-size: 14px;
  }

}