#background {
  background: linear-gradient(-160deg, #1b6494 60%, #2974a7 30%);
  position: absolute;
  height: 800px;
  width: 100%;
  top: -70px;
  z-index: -5;
}

#intro {
  width: 800px;
  margin: auto;
  margin-top: 40px;
}

#intro h1 {
  font-size: 44px;
  color: #e6f4f1;
  font-weight: bolder;
}

#intro p {
  font-size: 16px;
  padding-right: 400px;
}

#intro img {
  position: absolute;
  width: 400px;
  margin-left: 400px;
  margin-top: 140px;
  z-index: -1;
}

.imageGrid {
  width: 800px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  align-items: center;
}

.row {
  display: flex;
}

.column {
  font-size: 0;
}

.column img {
  width: 95%;
  padding: 2.5%;
}

.imageGrid h1 {
  text-align: center;
}


@media (max-width: 900px) {
  #background {
    height: 420px;
  }

  #intro {
    width: 90%;
    margin-top: 0;
  }

  #intro h1 {
    margin-top: 50px;
    font-size: 28px;
  }

  #intro p {
    padding-right: 0;
    font-size: 14px;
  }

  #intro img {
    width: 270px;
    position: relative;
    display: flex;
    margin: auto;
  }

  .imageGrid {
    margin-top: 40px;
    width: 90%;
    margin-bottom: 20px;
  }

  .imageGrid h1 {
    font-size: 20px;
  }

}