/* General Page Styling */
#content {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  color: #e6f4f1;
  background-color: black;
}

/* Introduction Section Styling */
#intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding-top: 60px;
}

#introduction {
  padding: 10px;
  order: 1; /* Default order */
}

#portrait {
  max-height: 70vh;
  max-width: 40%;
  filter: grayscale(0.2);
  order: 2; /* Default order */
  pointer-events: none;
}

#intro h1 {
  font-size: 75px;
  margin: 0;
}

#intro h2 {
  font-size: 24px;
  margin: 0;
}

#intro h3 {
  font-size: 16px;
  margin: 0;
}

.buttonPink {
  background-color: rgba(234, 128, 154, 1);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 3px;
}

.buttonPink:hover {
  background-color: rgba(236, 184, 136, 1);
}

.buttonPink:active {
  background-color: rgb(192, 139, 90);
}

#icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.icon {
  filter: invert(1);
}

.icon img {
  width: 40px;
}

.icon img:hover {
  filter: opacity(0.5);
  cursor: pointer;
}

#sectionBio {
  background-color: #111;
  margin: 0;
  padding-top: 30px;
}

#sectionBio h1 {
  margin: 0;
  text-align: center;
  align-content: center;
}

#bioBox {
  background-color: black;
  width: 60vw;
  max-width: 850px;
  height: max-content;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  margin-top: 20px;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: justify;
  line-height: 1.5;
}

#sectionSkills {
  background-color: #111;
  margin: 0;
  padding-top: 30px;
}

#sectionSkills h1 {
  margin: 0;
  text-align: center;
  align-content: center;
}

#skillBox {
  background-color: black;
  width: 60vw;
  max-width: 850px;
  height: max-content;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
  margin-top: 20px;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Center items */
}

#skillBox h1 {
  width: 100%;
  text-align: center;
}

.skillBtn {
  display: flex;
  align-items: center;
  border: 2px solid rgba(234, 128, 154, 1);
  border-radius: 5px;
  padding: 10px;
  width: max-content; /* First ones are width max-content */
  max-width: 100%; /* Prevents last line elements from becoming too wide */
  flex: 1 1 100px; /* Fill up the rest and set a minimum width */
  box-sizing: border-box;
  white-space: nowrap; /* Prevent text from wrapping */
}

.skillBtn img {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Maintain aspect ratio */
  margin-right: 10px;
  filter: invert(1);
}

.skillBtn span {
  font-size: 18px;
  color: white;
}

/* Section Styling */
#sectionWork {
  max-width: 100%;
  min-height: max-content;
  padding-top: 10px;
  margin: auto;
  color: #e6f4f1;
  overflow: hidden;
  background-color: #111;
}

#sectionWork h1 {
  text-align: center;
}

/* Grid Container for Tiles */
.workGrid {
  width: 80%;
  margin: auto;
  column-count: 4; /* Number of columns */
  column-gap: 25px; /* Gap between the columns */
  padding-top: 10px;
  padding-bottom: 30px;
}

/* Tile Styling */
.tile {
  display: inline-block; /* Allow tiles to flow naturally in columns */
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  /* padding-bottom: 55px; */
  background: black;
  opacity: 0;
  overflow: auto;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(50px) rotate(-5deg);
  border-radius: 25px;
  box-sizing: border-box;
  margin-bottom: 25px; /* Adds spacing between items */
}

.tile h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}

.tile h2 {
  padding-top: 15px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.tile h4 {
  padding-bottom: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.tile .grade {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.tile p {
  font-size: 16px;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tile img {
  width: 100%;
  border-radius: 15px;
  background-color: #111;
  pointer-events: none;
}

/* .tile .buttonPink {
  border-radius: 0;
  position: absolute;
  bottom: 0;
  right: 0;
} */

.tile .buttonPink {
  margin: 0 auto;
  border-radius: 15px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

/* Tile Animation when in view */
.tile.inView {
  opacity: 1;
  transform: translateY(0) rotate(0);
}

/* Responsive Adjustments */
@media (max-width: 900px) {
  #intro {
    max-width: 95%;
    padding-top: 40px;
  }

  #introduction {
    order: 1;
    margin-top: 60px;
  }

  #portrait {
    order: 2;
    max-height: 60vh;
    max-width: 95%;
    margin: auto;
    text-align: center;
  }

  #intro h1 {
    font-size: 45px;
  }
  #intro h2 {
    font-size: 18px;
  }
  #intro h3 {
    font-size: 12px;
  }

  .tile-grid {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }

  .workGrid {
    width: 80vw;
  }

  #skillBox {
    width: 80vw;
  }

  #bioBox {
    width: 80vw;
  }

  .tile {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}

#intro {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 2800px) {
  .workGrid {
    column-count: 3; /* Number of columns */
  }
}

@media (max-width: 1800px) {
  .workGrid {
    column-count: 2; /* Number of columns */
    width: 93vw;
  }
}

@media (max-width: 1000px) {
  .workGrid {
    column-count: 1; /* Number of columns */
  }
}

@media (max-width: 600px) {
  .workGrid {
    width: 93vw;
  }

  #skillBox {
    width: 93vw;
    padding-left: 15px;
    padding-right: 15px;
  }
  #bioBox {
    width: 93vw;
    padding-left: 15px;
    padding-right: 15px;
  }

  #bioBox p {
    text-align: justify;
    margin: 0;
    margin-top: 10px;
  }

  #skillBox {
    padding: 15px;
    border-radius: 10px;
  }

  .skillBtn {
    width: 100%;
    padding: 8px;
  }
  .skillBtn img {
    scale: 1;
    width: 20px;
    height: 20px;
  }

  .skillBtn span {
    font-size: 12px;
  }

  .tile .buttonPink {
    margin-bottom: 0px;
  }
}
